/* Add CSS Styling */
.one, .two {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Tahoma, sans-serif;
}

.one {
    background-color: black;
    color: white;
}

.two {
    background-color: yellow;
}